body {
  font-family: sans-serif;
  display: flex;
  margin-top: 50px;
  margin-left: 20px;
  justify-content: left;
  background-color: #e4e9ec;
}
h2 {
  font-family:sans-serif;
	font-size: 33px;
  font-weight: normal;
  font-style:italic;
	color: #c3d0d9;
	text-align:center;
}
h3 {
  font-family:sans-serif;
	font-size: 17px;
  font-weight:normal;
	color: #aebbc4;
	text-align:left;
}
h4 {
  font-family:sans-serif;
	font-size: 13px;
  font-weight:normal;
	color: #aebbc4;
	text-align:left;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  margin-left: 2em;
  margin-left: 2em;
  color: #aab6be;
}
nav a:hover{
  text-shadow: 0px 0px 5px #90c7e9;
}
form div {
  margin: 1em;
  display: inline-flexbox;
}

button {
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px #c3d0d9;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  background-color:#a8bec9 ;
  color: #e4e9ec;
}
button:hover {
  box-shadow: 0px 0px 5px #90c7e9;
}
#header {
  padding: 10px;
  color: #c3d0d9;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#c3d0d9;
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #eae7e7;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #c3d0d9;
  margin: 5px;
  box-shadow: 0px 0px 3px #c3d0d9;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8f4fa;
  box-shadow: 0px 0px 5px #90c7e9;
}

.day + .currentDay {
  background-color:#e8f4fa;
  box-shadow: 0px 0px 5px #90c7e9;
}

.event {
  font-size: 10px;
  padding: 3px;
  background-color: #a4b0b8;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #c3d0d9 !important;
  box-shadow: none !important;
  justify-content: space-between;
}
#newEventModal, #deleteEventModal {
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
  color:#e8f4fa
}
#saveButton, #closeButton {
  background-color: #92bddb;
  color:#f4f8fa
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

